extends base
block content
    .col-md-4.loginBody
        .login-form 
            h2.loginHeader A password recovery email will be sent to your account adress
            form.form
                .form-group
                    .col-md-12
                        input(type="email", class="form-control", id="email",  placeholder="youremail@example.com", required)
                .form-group
                    button.btnRecoverPass(type="submit" class="btn btn-primary") Recover Password