extends base
block content
    .col-md-4.loginBody
        .login-form 
            h2.loginHeader Login
            form.form
                .form-group
                    .col-md-12
                        label Email Address
                        input(type="email", class="form-control", id="email",  placeholder="email@example.com", required)
                .form-group
                    .col-md-12
                        label Password
                        input(type="password", class="form-control", id="password",  placeholder="Password", required)
                .form-group
                    button.btnLogin(type="submit" class="btn btn-primary") LOGIN
                    button.btnSignup(type="submit" class="btn btn-secondary") SIGN UP
                
                a(href="/forgotpassword") Forgot Password?