extends base

block content 
    .row
        .col-sm-3
            .card(style="width: 18rem;")
                img.card-img-top(src= game.background_image alt="Card image cap")
                .card-body
                    h5.card-title= game.name 
                    p.card-text= game.released
        .col-sm-9
            form.reviewForm 

                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-stopwatch-64.png")
                        figcaption Playtime
                        input.numInputPlaytime(id="playtimeInput" type="number" required)

                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-game-controller-64.png")
                        figcaption Gameplay
                        input.numInput(type="number" onKeyDown="return false" id = "gameplayScoreInput" min="1" max="10" required)


                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-activity-history-64.png")
                        figcaption Story
                        input.numInput(type="number" onKeyDown="return false" id = "storyScoreInput" min="1" max="10")


                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-picture-64.png")
                        figcaption Visuals
                        input.numInput(type="number" onKeyDown="return false" id = "graphicsScoreInput" min="1" max="10" required)


                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-sound-64.png")
                        figcaption Audio/Music
                        input.numInput(type="number" onKeyDown="return false" id = "audioScoreInput" min="1" max="10")


                .form-group.scoreInput.col-md-2
                    figure
                        img(src="/images/icons8-graph-64.png")
                        figcaption Performance
                        input.numInput(type="number" onKeyDown="return false" id = "performanceScoreInput" min="1" max="10" required)
                .form-group
                    button.btnPublishReview(type = "submit" class="btn btn-primary") Publish Review

    


